<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed " dir="ltr" data-theme="theme-default"
  data-assets-path="../../assets/" data-template="vertical-menu-template">

<head>
  <link rel="stylesheet" href="/assets/css/argon.css?v=1.2.0" type="text/css">
  <script src="https://kit.fontawesome.com/b97ffc16ff.js" crossorigin="anonymous"></script>
  <html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
      data-assets-path="../assets/" data-template="vertical-menu-template-free">
  <link rel="stylesheet" href="/assets/css/all.min.css" type="text/css">
  <meta name="description"
      content="NorthClient most Powerful Dashboard built for Pterodactyl!" />
  <meta name="keywords" content="dashboard, NorthClient, bootstrap">
  <!-- Canonical SEO -->
  <link rel="canonical" href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/">

  <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="<%= settings.logo %>" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />
  <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome.css" />
  <link rel="stylesheet" href="../assets/vendor/fonts/flag-icons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="../assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="../assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="../assets/css/main.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" href="../assets/vendor/libs/typeahead-js/typeahead.css" />
  <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />

  <!-- Page CSS -->

  <!-- Helpers -->
  <script src="../assets/vendor/js/helpers.js"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
  <script src="../assets/vendor/js/template-customizer.js"></script>
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="../assets/js/config.js"></script>
</head>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="/dashboard" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <img width="25" viewBox="0 0 25 42" src="<%= settings.logo %>">
                        </span>
                        <span class="app-brand-text menu-text fw-bolder ms-2 " style="font-size:15pt">
                            <%= settings.name %>
                        </span>
                    </a>
                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>
                <div class="menu-inner-shadow"></div>
                <!-- Dashboard -->
                <ul class="menu-inner py-1">
                    <!-- Dashboard -->
                    <li class="menu-item">
                        <a href="/dashboard" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Dashboard</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/servers" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-server"></i>
                            <div data-i18n="Layouts">Servers</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/create" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-plus-medical"></i>
                            <div data-i18n="Layouts">Create a Server</div>
                        </a>
                    </li>
                    <!-- Pages -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Pages</span>
                    </li>
                    <li class="menu-item">
                        <a href="/gift" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-gift"></i>
                            <div data-i18n="Layouts">Gift</div>
                        </a>
                    </li>
                    <% if (settings.status.enabled==true) { %>
                        <li class="menu-item">
                            <a href="/status" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-stats"></i>
                                <div data-i18n="Layouts">Status</div>
                            </a>
                        </li>
                        <% } %>
                            <li class="menu-item active">
                                <a href="/redeem" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-book-reader"></i>
                                    <div data-i18n="Layouts">Redeem</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/j4r" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-diamond"></i>
                                    <div data-i18n="Layouts">Join for Reward</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/lv" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-link-external"></i>
                                    <div data-i18n="Layouts">Linkvertise Earning</div>
                                </a>
                            </li>
                            <!-- Pages End -->
                            <!-- Store -->
                            <li class="menu-header small text-uppercase">
                                <span class="menu-header-text">Store</span>
                            </li>
                            <li class="menu-item">
                                <a href="/store" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-store"></i>
                                    <div data-i18n="Layouts">Store</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/buy" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-cart"></i>
                                    <div data-i18n="Layouts">Buy Coins</div>
                                </a>
                            </li>
                            <!-- Store End-->
                            <!--Admin-->
                            <% if (pterodactyl.root_admin==true) { %>
                                <li class="menu-header small text-uppercase">
                                    <span class="menu-header-text">Admin</span>
                                </li>
                                <li class="menu-item">
                                    <a href="/admin" class="menu-link">
                                        <i class="menu-icon tf-icons bx bx-shield-quarter"></i>
                                        <div data-i18n="Layouts">Admin</div>
                                    </a>
                                </li>
                                <!--Admin End-->
                </ul>
                <% } %>
            </aside>
            <div class="layout-page">
                <!-- Navbar -->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                id="layout-navbar">
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="bx bx-menu bx-sm"></i>
                    </a>
                </div>
                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <!-- Search -->
                    <div class="navbar-nav align-items-center">
                        <% if (settings.api.client.coins.enabled==true) { %>
                            <button type="button" class="btn bg-label-dark">
                                <span>Your coins:</span>
                                <span class="badge bg-label-secondary">
                                    <%= coins %>
                                </span>
                                <% } %>
                    </div>
                    <!-- /Search -->
                    <!-- Style Switcher -->
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <!-- Language 
                        <li class="nav-item dropdown-language dropdown me-2 me-xl-0">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                data-bs-toggle="dropdown">
                                <i class='fi fi-us fis rounded-circle fs-3 me-1'></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0);" data-language="en">
                                        <i class="fi fi-us fis rounded-circle fs-4 me-1"></i>
                                        <span class="align-middle">English</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0);" data-language="fr">
                                        <i class="fi fi-fr fis rounded-circle fs-4 me-1"></i>
                                        <span class="align-middle">France</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0);" data-language="de">
                                        <i class="fi fi-de fis rounded-circle fs-4 me-1"></i>
                                        <span class="align-middle">German</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0);" data-language="pt">
                                        <i class="fi fi-pt fis rounded-circle fs-4 me-1"></i>
                                        <span class="align-middle">Portuguese</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                         Language -->
                        <!-- Place this tag where you want the button to render. -->
                        <li class="nav-item me-2 me-xl-0">
                            <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                                <i class="bx bx-sm bx-sun"></i>
                            </a>
                        </li>
                        <!--/ Style Switcher -->

                        <!-- Quick links  -->
                        <li class="nav-item dropdown-shortcuts navbar-dropdown dropdown me-2 me-xl-0">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                <i class='bx bx-grid-alt bx-sm'></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end py-0">
                                <div class="dropdown-menu-header border-bottom">
                                    <div class="dropdown-header d-flex align-items-center py-3">
                                        <h5 class="text-body mb-0 me-auto">Shortcuts</h5>
                                        <a href="javascript:void(0)" class="dropdown-shortcuts-add text-body"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Add shortcuts"><i
                                                class="bx bx-sm bx-plus-circle"></i></a>
                                    </div>
                                </div>
                                <div class="dropdown-shortcuts-list scrollable-container">
                                    <div class="row row-bordered overflow-visible g-0">
                                        <div class="dropdown-shortcuts-item col">
                                            <span
                                                class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                                <i class="bx bx-home fs-4"></i>
                                            </span>
                                            <a href="/dashboard" class="stretched-link">Home</a>
                                            <small class="text-muted mb-0">Go to Home Screen</small>
                                        </div>
                                        <div class="dropdown-shortcuts-item col">
                                            <span
                                                class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                                <i class="bx bx-user fs-4"></i>
                                            </span>
                                            <a href="/profile" class="stretched-link">User</a>
                                            <small class="text-muted mb-0">Manage ur Profile</small>
                                        </div>
                                    </div>
                                    <div class="row row-bordered overflow-visible g-0">
                                        <div class="dropdown-shortcuts-item col">
                                            <span
                                                class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                                <i class="bx bxs-server fs-4"></i>
                                            </span>
                                            <a href="/create" class="stretched-link">Create Server</a>
                                            <small class="text-muted mb-0">Create a Server</small>
                                        </div>
                                        <div class="dropdown-shortcuts-item col">
                                            <span
                                                class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                                <i class="bx bx-list-ul fs-4"></i>
                                            </span>
                                            <a href="/servers" class="stretched-link">Servers</a>
                                            <small class="text-muted mb-0">See ur Servers in a list</small>
                                        </div>
                                    </div>
                                    <div class="row row-bordered overflow-visible g-0">
                                        <div class="dropdown-shortcuts-item col">
                                            <span
                                                class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                                <i class="bx bxs-wallet fs-4"></i>
                                            </span>
                                            <a href="/buy" class="stretched-link">Buy Coins</a>
                                            <small class="text-muted mb-0">Buy Coins</small>
                                        </div>
                                        <div class="dropdown-shortcuts-item col">
                                            <span
                                                class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                                <i class="bx bx-store fs-4"></i>
                                            </span>
                                            <a href="/store" class="stretched-link">Store</a>
                                            <small class="text-muted mb-0">Buy Resources</small>
                                        </div>
                                    </div>
                                    <div class="row row-bordered overflow-visible g-0">
                                        <div class="dropdown-shortcuts-item col">
                                            <span
                                                class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                                <i class="bx bx-help-circle fs-4"></i>
                                            </span>
                                            <a href="#" class="stretched-link">Help
                                                Center</a>
                                            <small class="text-muted mb-0">FAQs & Articles</small>
                                        </div>
                                        <div class="dropdown-shortcuts-item col">
                                            <span
                                                class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                                <i class="bx bx-cog fs-4"></i>
                                            </span>
                                            <a href="/connect"
                                                class="stretched-link">Setting</a>
                                            <small class="text-muted mb-0">Account Settings</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- /Quick links -->
                        <!-- User -->
                        <div class="nav-item lh-1 me-3">
                            <a href="<%= settings.pterodactyl.domain %>" class="btn btn-sm btn-neutral">Panel</a>
                        </div>
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img alt="Avatar" src="/assets/img/illustrations/pb.png">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-1">
                                                <div class="avatar avatar-online">
                                                    <img src="/assets/img/illustrations/pb.png">
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-semibold d-block">
                                                    <%= req.session.userinfo.username%>#<%=
                                                            req.session.userinfo.discriminator %>
                                                </span>
                                                <small class="text-muted">ID: <%= req.session.userinfo.id%></small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/profile">
                                        <i class="bx bx-user me-2"></i>
                                        <span class="align-middle">My Profile</span>
                                    </a>
                                </li>
                                <% if (pterodactyl.root_admin==true) { %>
                                    <li>
                                        <a class="dropdown-item" href="/admin">
                                            <i class="bx bx-shield-quarter"></i>
                                            <span class="align-middle">Admin</span>
                                        </a>
                                    </li>
                                    <% } %>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/logout">
                                                <i class="bx bx-power-off me-2"></i>
                                                <span class="align-middle">Log Out</span>
                                            </a>
                                        </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

<body>
  <div class="container-xxl flex-grow-1 container-p-y">
           <%- include('./parts/widgets') %>

        <!-- Page content -->
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Pages / </span>Redeem</h4>

								<%- include('./parts/ads') %>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Redeem A Coupon Code</div>
                                </div>
                                <div class="card-body">
									<form action="/coupon_redeem">
										<center>
											<h4>Please enter the coupon code you would like to redeem below!</h4>
											<input type="text" class="form-control" placeholder="Enter your coupon code here" name="code">
											<br>
											<button class="btn btn-primary" style="background-color: #33404D;">Redeem</button>
										</center>
									</form>
                                </div>
                            </div>
                        </div>
					</div>
 				</div>
			</div>
          </div>
		</div>
	  </div>	
    
                <!-- Footer -->
    <%- include('./parts/footer') %>
            </div>
        </div>
        <script src="/assets/thmeneed/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/assets/thmeneed/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/thmeneed/vendor/js-cookie/js.cookie.js"></script>
        <script src="/assets/thmeneed/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="/assets/thmeneed/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="/assets/thmeneed/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="/assets/thmeneed/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="/assets/thmeneed/js/argon.js?v=1.2.0"></script>
        <script src="../assets/vendor/libs/jquery/jquery.js"></script>
        <script src="../assets/vendor/libs/popper/popper.js"></script>
        <script src="../assets/vendor/js/bootstrap.js"></script>
        <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="../assets/vendor/js/menu.js"></script>
        <script src="../assets/js/main.js"></script>
        <script src="../assets/js/pages-account-settings-account.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>