<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Dashboard - <%= settings.name %>
    </title>
    <% if (settings.api.arcio.enabled==true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon"
        href="https://images-ext-1.discordapp.net/external/sMKkyuJo8Wn_AK_Foyl0aGrWwhe9fbqtPgkThvHxdxs/%3Fsize%3D1024/https/cdn.discordapp.com/icons/933803406513012807/bb763a3db98f9f0ae8d6029e8355dd06.png"
        type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="/assets/thmeneed/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/assets/thmeneed/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/argon.css?v=1.2.0" type="text/css">
    <script src="https://kit.fontawesome.com/b97ffc16ff.js" crossorigin="anonymous"></script>

    <html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
        data-assets-path="../assets/" data-template="vertical-menu-template-free">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="" />

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet" />

        <!-- Icons. Uncomment required icon fonts -->
        <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

        <!-- Core CSS -->
        <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
        <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
        <link rel="stylesheet" href="../assets/css/main.css" />

        <!-- Vendors CSS -->
        <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

        <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />

        <!-- Page CSS -->
        <link rel="stylesheet" href="assets/vendor/libs/animate-css/animate.css" />
        <link rel="stylesheet" href="assets/vendor/libs/toastr/toastr.css" />
        <link rel="stylesheet" href="assets/vendor/libs/toastr/toastr.js" />

        <!-- Helpers -->
        <script src="../assets/vendor/js/helpers.js"></script>

        <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
        <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
        <script src="../assets/js/config.js"></script>
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
                <!-- Menu -->

                <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                    <div class="app-brand demo">
                        <a href="/dashboard" class="app-brand-link">
                            <span class="app-brand-logo demo">
                                    <img width="25" viewBox="0 0 25 42" src="/assets/img/favicon/logor.png">
                            </span>
                            <span class="app-brand-text menu-text fw-bolder ms-2 " style="font-size:15pt">
                                <%= settings.name %>
                            </span>
                        </a>

                        <a href="javascript:void(0);"
                            class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                            <i class="bx bx-chevron-left bx-sm align-middle"></i>
                        </a>
                    </div>

                    <div class="menu-inner-shadow"></div>

                    <ul class="menu-inner py-1">
                        <!-- Dashboard -->
                        <ul class="menu-inner py-1">
                            <!-- Dashboard -->
                            <li class="menu-item">
                                <a href="/dashboard" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                                    <div data-i18n="Analytics">Dashboard</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/servers" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-server"></i>
                                    <div data-i18n="Layouts">Servers</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/create" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-plus-medical"></i>
                                    <div data-i18n="Layouts">Create a Server</div>
                                </a>
                            </li>
                            <!-- Pages -->
                            <li class="menu-header small text-uppercase">
                                <span class="menu-header-text">Pages</span>
                            </li>
                            <li class="menu-item">
                                <a href="/gift" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-gift"></i>
                                    <div data-i18n="Layouts">Gift</div>
                                </a>
                            </li>
                            <% if (settings.status.enabled==true) { %>
                                <li class="menu-item">
                                    <a href="/status" class="menu-link">
                                        <i class="menu-icon tf-icons bx bx-stats"></i>
                                        <div data-i18n="Layouts">Status</div>
                                    </a>
                                </li>                    <% } %>
                            <li class="menu-item">
                                <a href="/redeem" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-book-reader"></i>
                                    <div data-i18n="Layouts">Redeem</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/j4r" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-diamond"></i>
                                    <div data-i18n="Layouts">Join for Reward</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/lv" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-link-external"></i>
                                    <div data-i18n="Layouts">Linkvertise Earning</div>
                                </a>
                            </li>
                            <!-- Pages End -->
                            <!-- Store -->
                            <li class="menu-header small text-uppercase">
                                <span class="menu-header-text">Store</span>
                            </li>
                            <li class="menu-item">
                                <a href="/store" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-store"></i>
                                    <div data-i18n="Layouts">Store</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/buy" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-cart"></i>
                                    <div data-i18n="Layouts">Buy Coins</div>
                                </a>
                            </li>
                            <!-- Store End-->
                            <!--Admin-->
                            <% if (pterodactyl.root_admin == true) { %>
                            <li class="menu-header small text-uppercase">
                                <span class="menu-header-text">Admin</span>
                            </li>
                            <li class="menu-item active">
                                <a href="/admin" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-shield-quarter"></i>
                                    <div data-i18n="Layouts">Admin</div>
                                </a>
                            </li>
                            <!--Admin End-->
                        </ul><% } %>
                </aside>
                <div class="layout-page">
                    <!-- Navbar -->

                    <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                        id="layout-navbar">
                        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                <i class="bx bx-menu bx-sm"></i>
                            </a>
                        </div>

                        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                            <!-- Search -->
                            <div class="navbar-nav align-items-center">
                                <% if (settings.api.client.coins.enabled==true) { %>
                                    <button type="button" class="btn bg-label-dark">
                                        <span>Your coins:</span>
                                        <span class="badge bg-label-secondary">
                                            <%= coins %>
                                        </span>
                                    <% } %>
                            </div>
                            <!-- /Search -->

                            <ul class="navbar-nav flex-row align-items-center ms-auto">
                                <!-- Place this tag where you want the button to render. -->
                                <!-- User -->
                                <div class="nav-item lh-1 me-3">
                                    <a href="<%= settings.pterodactyl.domain %>"
                                        class="btn btn-sm btn-neutral">Panel</a>
                                    <a href="/servers/new" class="btn btn-sm btn-neutral">New Server</a>
                                </div>
                                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                        data-bs-toggle="dropdown">
                                        <div class="avatar avatar-online">
                                            <img alt="Avatar"
                                                   src="/assets/img/illustrations/pb.png">
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar avatar-online">
                                                            <img
                                                                src="https://cdn.discordapp.com/avatars/<%= req.session.userinfo.id%>/<%= req.session.userinfo.avatar%>.jpg?size=1024 alt" />
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <span class="fw-semibold d-block">
                                                            <%= req.session.userinfo.username%>#<%=
                                                                            req.session.userinfo.discriminator %>
                                                        </span>
                                                        <small class="text-muted">ID: <%=
                                                                        req.session.userinfo.id%></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/logout">
                                                <i class="bx bx-power-off me-2"></i>
                                                <span class="align-middle">Log Out</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Content wrapper -->

                    <div class="content-wrapper">
                        <!-- Content -->
                        <div class="container-xxl flex-grow-1 container-p-y">

                            <div class="main-panel">
                                <div class="content">
                                    <div class="page-inner">
                                        <div class="mt-2 mb-4">
                                            <% if (req.query.err) { %>
                                            <% if (req.query.err !== "none") { %>
                                            <h5 class="text-white op-7 mb-4">
                                                <% if (req.query.err == "MISSINGID") { %>
                                                <div class="alert alert-warning alert-dismissible fade show"
                                                    role="alert">
                                                    <span class="alert-icon"><i class="ni ni-settings"></i></span>
                                                    <span class="alert-text"><strong>You have not provided the 
                                                            user Email.</strong></span>
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <% } else if (req.query.err == "INVALIDID" || req.query.err == "MISSINGID") { %>
                                                <div class="alert alert-warning alert-dismissible fade show"
                                                    role="alert">
                                                    <span class="alert-icon"><i class="ni ni-settings"></i></span>
                                                    <span class="alert-text"><strong>You have provided a user Email
                                                            that does not exist, or has not signed up on the
                                                            dashboard.</strong></span>
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <% } 
                    else if (req.query.err == "CREATECOUPONINVALIDCHARACTERS") { %>
                                                One of the characters you entered in coupon creation was invalid, please
                                                try again.
                                                <% } else if (req.query.err == "REVOKECOUPONCANNOTFINDCODE") { %>
                                                One of the characters you entered in coupon revoke was invalid, please
                                                try again.
                                                <% } else if (req.query.err == "CREATECOUPONEMPTY") { %>
                                                While creating your coupon you did not specify to give any resources or
                                                coins.
                                                <% } else if (req.query.err == "CREATECOUPONLESSTHANONE") { %>
                                                While creating your coupon you tried to give less then one in RAM, DISK,
                                                CPU and/or coins.
                                                <% } else if (req.query.err == "MISSINGVARIABLES") { %>
                                                You have not provided either ram, disk, cpu, and/or servers.
                                                <% } else if (req.query.err == "REMOVEACCOUNTMISSINGID") { %>
                                                You have not specified an id to remove from the panel
                                                <% } else if (req.query.err == "MISSINGCOINS") { %>
                                                You have not provided the coin amount.
                                                <% } else if (req.query.err == "RAMSIZE" || req.query.err == "DISKSIZE" || req.query.err == "CPUSIZE" || req.query.err == "SERVERSIZE") { %>
                                                The RAM, disk, CPU and servers number cannot be less than 0 nor above
                                                999999999999999.
                                                <% } else if (req.query.err == "INVALIDCOINNUMBER") { %>
                                                The coin amount must be a number.
                                                <% } else if (req.query.err == "COINSIZE") { %>
                                                The coin amount canno tbe less than 0 and must be above 999999999999999.
                                                <% } else if (req.query.err == "NOIP") { %>
                                                There is no IP saved for that user.
                                                <% } else if(req.query.err == "NONE" && req.query.ip !== undefined) { %>
                                                IP: <%= req.query.ip %>
                                                <% } else { %>
                                                Stop admin abusing.
                                                <% } %>
                                            </h5>
                                            <% } %>
                                            <% } %>
                                            <% if (req.query.code) { %>
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                                <span class="alert-text"><strong>You have created a coupon code with the
                                                        name of:</strong> <%= req.query.code %></span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <% } %>
                                            <div class="row">
                                                <div class="col-md-12 grid-margin stretch-card">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <div class="card-title">NorthDevelopment
                                                                <center> <a
                                                                        href="https://github.com/NorthDevelopment/NorthClient"
                                                                        target="_blank"><i class="fab fa-github"
                                                                            href="https://github.com/NorthDevelopment/NorthClient"></i>GITHUB</a>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <center>
                                                                <p id="latestversion"><span
                                                                        style="margin-left: 5%;">Fetching...</span></p>
                                                            </center>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                fetch(
                                                        "https://raw.githubusercontent.com/NorthDevelopment/NorthClient/main/assets/lv.json")
                                                    .then(res => Promise.resolve(res.json()).then(lv => {
                                                        let version = "<%= settings.version %>"
                                                        if (version == lv.version) {
                                                            document.getElementById("latestversion").innerHTML =
                                                                `<span>You are running NorthClient version <code style="color: #007fcc" >v${version}</code>. NorthClient is up-to-date!</span>`;
                                                        } else {
                                                            document.getElementById("latestversion").innerHTML =
                                                                `<span>NorthClient is <b>not up-to-date!</b> The latest version is <code style="color: #007fcc" >v${lv.version}</code> and you are currently running version <code style="color: #007fcc" >v<%= settings.version %></code>.</span>`;
                                                        }
                                                    }));
                                            </script>
                                            <div class="row" id="proBanner">
                                                <div class="col-12">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 grid-margin stretch-card">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Change someone's package.</h4>
                                                            <p>User Email: <input class="form-control" id="id"
                                                                    placeholder="example@NorthDevelopment.ga"></p>
                                                            <p>Package: <select class="form-control" id="package">
                                                                    <option value="">Default Plan (Currently:
                                                                        <%= settings.api.client.packages.default %>)
                                                                    </option>
                                                                    <% for (let [name, value] of Object.entries(settings.api.client.packages.list)) { %>
                                                                    <option value="<%= name %>"><%= name %> (RAM:
                                                                        <%= value.ram %>MB, Disk: <%= value.disk %>MB,
                                                                        CPU: <%= value.cpu %>%, Servers:
                                                                        <%= value.servers %>)</option>
                                                                    <% } %>
                                                                </select></p>
                                                            <button onclick="submitForm()"
                                                                class="btn btn-primary">Change</button>

                                                            <script>
                                                                async function submitForm() {
                                                                    let id = encodeURIComponent(document
                                                                        .getElementById("id").value);
                                                                    let packagename = encodeURIComponent(document
                                                                        .getElementById("package").value);
                                                                    window.location.href = "/setplan?id=" + id +
                                                                        "&package=" + packagename
                                                                }
                                                            </script>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card col-md-12 grid-margin stretch-card">
                                                <div class="card-body">
                                                    <h4 class="card-title">Change someone's extra resources.</h4>
                                                    <form action="/setresources">
                                                        <label for="id">User Email:</label>
                                                        <input class="form-control" name="id"
                                                            placeholder="example@NorthDevelopment.ga"><br><br>
                                                        <label for="ram">RAM:</label>
                                                        <input class="form-control" name="ram" type="number"><br><br>
                                                        <label for="disk">Disk:</label>
                                                        <input class="form-control" name="disk" type="number"><br><br>
                                                        <label for="cpu">CPU:</label>
                                                        <input class="form-control" name="cpu" type="number"><br><br>
                                                        <label for="servers">Servers:</label>
                                                        <input class="form-control" name="servers"
                                                            type="number"><br><br>
                                                        <button type="submit" class="btn btn-primary">Change</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="card col-md-12 grid-margin stretch-card">
                                                <div class="card-body">
                                                    <h4 class="card-title">Set coins.</h4>
                                                    <form action="/setcoins">
                                                        <label for="id">User Email:</label>
                                                        <input class="form-control" name="id"
                                                            placeholder="example@NorthDevelopment.ga"><br><br>
                                                        <label for="coins">Coins:</label>
                                                        <input class="form-control" name="coins" type="number"><br><br>
                                                        <button type="submit" class="btn btn-primary">Set</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="card col-md-12 grid-margin stretch-card">
                                                <div class="card-body">
                                                    <h4 class="card-title">Add coins.</h4>
                                                    <form action="/addcoins">
                                                        <label for="id">User Email:</label>
                                                        <input class="form-control" name="id"
                                                            placeholder="example@NorthDevelopment.ga"><br><br>
                                                        <label for="coins">Coins:</label>
                                                        <input class="form-control" name="coins" type="number"><br><br>
                                                        <button type="submit" class="btn btn-primary">Add</button>
                                                    </form>
                                                </div>
                                            </div>

                                            <% if(settings.api.client.oauth2.ip["duplicate check"] == true) { %>
                                            <div class="card col-md-12 grid-margin stretch-card">
                                                <div class="card-body">
                                                    <h4 class="card-title">Get IP.</h4>
                                                    <form action="/getip">
                                                        <label for="id">User Email:</label>
                                                        <input class="form-control" name="id"
                                                            placeholder="example@NorthDevelopment.ga"><br><br>
                                                        <button type="submit" class="btn btn-primary">Get</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <% } %>

                                            <div class="card col-md-12 grid-margin stretch-card">
                                                <div class="card-body">
                                                    <h4 class="card-title">Create/Modify Coupon</h4>
                                                    <form action="/create_coupon">
                                                        <label for="code">Code:</label>
                                                        <input class="form-control" name="code"
                                                            placeholder="Leave this empty to generate a random code."><br><br>
                                                        <label for="coins">Coins:</label>
                                                        <input class="form-control" name="coins" type="number"><br><br>
                                                        <label for="ram">RAM:</label>
                                                        <input class="form-control" name="ram" type="number"><br><br>
                                                        <label for="disk">Disk:</label>
                                                        <input class="form-control" name="disk" type="number"><br><br>
                                                        <label for="cpu">CPU:</label>
                                                        <input class="form-control" name="cpu" type="number"><br><br>
                                                        <label for="servers">Servers:</label>
                                                        <input class="form-control" name="servers"
                                                            type="number"><br><br>
                                                        <button type="submit" class="btn btn-primary">Create</button>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="card col-md-12 grid-margin stretch-card">
                                                <div class="card-body">
                                                    <h4 class="card-title">Revoke Coupon</h4>
                                                    <form action="/revoke_coupon">
                                                        <label for="code">Code:</label>
                                                        <input class="form-control" name="code"><br><br>
                                                        <button type="submit" class="btn btn-primary">Revoke</button>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="card col-md-12 grid-margin stretch-card">
                                                <div class="card-body">
                                                    <h4 class="card-title">Remove Account</h4>
                                                    <p>This only removes the account from the database, and does not
                                                        delete the account.<br>This feature has not been tested with the
                                                        renewal feature.</p>
                                                    <form action="/remove_account">
                                                        <label for="id">User Email:</label>
                                                        <input class="form-control" name="id"><br><br>
                                                        <button type="submit" class="btn btn-primary">Remove</button>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="card col-md-12 grid-margin stretch-card">
                                                <div class="card-body">
                                                    <h4 class="card-title">User Information</h4>

                                                    <label for="id">User Email:</label>
                                                    <input class="form-control" name="id" id="userinfoid"><br><br>
                                                    <button type="submit" class="btn btn-primary"
                                                        onclick="getUserInfo()">Get</button>

                                                    <script>
                                                        async function getUserInfo() {
                                                            let userinfo = await fetch("/userinfo?id=" + document
                                                                .getElementById("userinfoid").value);
                                                            alert(await userinfo.text())
                                                        }
                                                    </script>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </body>

    </html>
    <%- include('./parts/footer') %>
    <!-- End Custom template -->
    </div>
    <!--   Core JS Files   -->
    <script src="/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


    <!-- Chart JS -->
    <script src="/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Sweet Alert -->
    <script src="/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="/assets/js/atlantis.min.js"></script>


    <script>
        $('#lineChart').sparkline([102, 109, 120, 99, 110, 105, 115], {
            type: 'line',
            height: '70',
            width: '100%',
            lineWidth: '2',
            lineColor: 'rgba(255, 255, 255, .5)',
            fillColor: 'rgba(255, 255, 255, .15)'
        });

        $('#lineChart2').sparkline([99, 125, 122, 105, 110, 124, 115], {
            type: 'line',
            height: '70',
            width: '100%',
            lineWidth: '2',
            lineColor: 'rgba(255, 255, 255, .5)',
            fillColor: 'rgba(255, 255, 255, .15)'
        });

        $('#lineChart3').sparkline([105, 103, 123, 100, 95, 105, 115], {
            type: 'line',
            height: '70',
            width: '100%',
            lineWidth: '2',
            lineColor: 'rgba(255, 255, 255, .5)',
            fillColor: 'rgba(255, 255, 255, .15)'
        });
    </script>
    <style>
        .glow-on-hover {
            width: 220px;
            height: 50px;
            border: none;
            outline: none;
            color: #fff;
            background: #111;
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 10px;
        }

        .glow-on-hover:before {
            content: '';
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 20s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
        }

        .glow-on-hover:active {
            color: #000
        }

        .glow-on-hover:active:after {
            background: transparent;
        }

        .glow-on-hover:hover:before {
            opacity: 1;
        }

        .glow-on-hover:after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #111;
            left: 0;
            top: 0;
            border-radius: 10px;
        }

        @keyframes glowing {
            0% {
                background-position: 0 0;
            }

            50% {
                background-position: 400% 0;
            }

            100% {
                background-position: 0 0;
            }
        }
    </style>
    </body>

</html>
