<% if (settings.api.arcio.enabled == true) { %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= settings.name %></title>
    <% if (settings.api.arcio.enabled == true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="https://images-ext-1.discordapp.net/external/sMKkyuJo8Wn_AK_Foyl0aGrWwhe9fbqtPgkThvHxdxs/%3Fsize%3D1024/https/cdn.discordapp.com/icons/933803406513012807/bb763a3db98f9f0ae8d6029e8355dd06.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="/assets/thmeneed/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/assets/thmeneed/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/argon.css?v=1.2.0" type="text/css">
    <script src="https://kit.fontawesome.com/b97ffc16ff.js" crossorigin="anonymous"></script>
      
            <%- include('./parts/widgets') %>

</head>

<body>
   <%- include('./parts/mainnav') %>
   <%- include('./parts/header') %>
                      <%- include('./parts/ads') %>
        <!-- Page content -->
        <div class="card">
									<div class="card-header">
										<div class="card-title">Earn Coins</div>
									</div>
									<div class="card-body">
										<center><p>Every <% if (settings.api.arcio["afk page"].every !== 1) { %><%= settings.api.arcio["afk page"].every %> seconds<% } else { %>second<% } %>, you will get <%= settings.api.arcio["afk page"].coins == 1 ? "a" : settings.api.arcio["afk page"].coins %> coin<%= settings.api.arcio["afk page"].coins == 1 ? "" : "s" %>.</p></center>
										<center><p>You will gain coins again in <span id="arciotimer"><%= settings.api.arcio["afk page"].every %></span> seconds.</p></center>
										<center><p>You have gained <span id="arciogainedcoins">0</span> coins currently</p></center>
										<script>
											<%- arcioafktext %>
										</script>
									</div>
        
                <!-- Footer -->
  <%- include('./parts/footer') %>
            </div>
        </div>
        <script src="/assets/thmeneed/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/assets/thmeneed/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/thmeneed/vendor/js-cookie/js.cookie.js"></script>
        <script src="/assets/argon/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="/assets/thmeneed/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="/assets/thmeneed/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="/assets/thmeneed/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="/assets/thmeneed/js/argon.js?v=1.2.0"></script>
</body>
</html>

<% } %>