<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Servers - <%= settings.name %>
    </title>
    <% if (settings.api.arcio.enabled==true) { %>
        <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
        <% } %>

            <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
            <link rel="icon"
                href="https://images-ext-1.discordapp.net/external/sMKkyuJo8Wn_AK_Foyl0aGrWwhe9fbqtPgkThvHxdxs/%3Fsize%3D1024/https/cdn.discordapp.com/icons/933803406513012807/bb763a3db98f9f0ae8d6029e8355dd06.png"
                type="image/png">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
            <link rel="stylesheet" href="/assets/thmeneed/vendor/nucleo/css/nucleo.css" type="text/css">
            <link rel="stylesheet" href="/assets/thmeneed/vendor/@fortawesome/fontawesome-free/css/all.min.css"
                type="text/css">
            <link rel="stylesheet" href="/assets/css/argon.css?v=1.2.0" type="text/css">
            <script src="https://kit.fontawesome.com/b97ffc16ff.js" crossorigin="anonymous"></script>

            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            <title>Dashboard - <%= settings.name %>
            </title>
            <% if (settings.api.arcio.enabled==true) { %>
                <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
                <% } %>
                    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
                    <link rel="icon"
                        href="https://images-ext-1.discordapp.net/external/sMKkyuJo8Wn_AK_Foyl0aGrWwhe9fbqtPgkThvHxdxs/%3Fsize%3D1024/https/cdn.discordapp.com/icons/933803406513012807/bb763a3db98f9f0ae8d6029e8355dd06.png"
                        type="image/png">
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
                    <link rel="stylesheet" href="/assets/thmeneed/vendor/nucleo/css/nucleo.css" type="text/css">
                    <link rel="stylesheet"
                        href="/assets/thmeneed/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
                    <link rel="stylesheet" href="/assets/css/argon.css?v=1.2.0" type="text/css">
                    <script src="https://kit.fontawesome.com/b97ffc16ff.js" crossorigin="anonymous"></script>

                    <html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
                        data-assets-path="../assets/" data-template="vertical-menu-template-free">

                    <head>
                        <meta charset="utf-8" />
                        <meta name="viewport"
                            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
                        <meta name="description" content="" />

                        <!-- Favicon -->
                        <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

                        <!-- Fonts -->
                        <link rel="preconnect" href="https://fonts.googleapis.com" />
                        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
                        <link
                            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
                            rel="stylesheet" />

                        <!-- Icons. Uncomment required icon fonts -->
                        <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

                        <!-- Core CSS -->
                        <link rel="stylesheet" href="../assets/vendor/css/core.css"
                            class="template-customizer-core-css" />
                        <link rel="stylesheet" href="../assets/vendor/css/theme-default.css"
                            class="template-customizer-theme-css" />
                        <link rel="stylesheet" href="../assets/css/main.css" />

                        <!-- Vendors CSS -->
                        <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

                        <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />

                        <!-- Page CSS -->

                        <!-- Helpers -->
                        <script src="../assets/vendor/js/helpers.js"></script>

                        <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
                        <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
                        <script src="../assets/js/config.js"></script>
                        <div class="layout-wrapper layout-content-navbar">
                            <div class="layout-container">
                                <!-- Menu -->

                                <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                                    <div class="app-brand demo">
                                        <a href="/dashboard" class="app-brand-link">
                                            <span class="app-brand-logo demo">
                                                    <img width="25" viewBox="0 0 25 42" src="/assets/img/favicon/logor.png">
                                            </span>
                                            <span class="app-brand-text menu-text fw-bolder ms-2 " style="font-size:15pt">
                                                <%= settings.name %>
                                            </span>
                                        </a>

                                        <a href="javascript:void(0);"
                                            class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                                            <i class="bx bx-chevron-left bx-sm align-middle"></i>
                                        </a>
                                    </div>

                                    <div class="menu-inner-shadow"></div>

                                    <ul class="menu-inner py-1">
                                        <!-- Dashboard -->
                                        <li class="menu-item">
                                            <a href="/dashboard" class="menu-link">
                                                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                                                <div data-i18n="Analytics">Dashboard</div>
                                            </a>
                                        </li>
                                        <li class="menu-item active">
                                            <a href="/servers" class="menu-link">
                                                <i class="menu-icon tf-icons bx bx-server"></i>
                                                <div data-i18n="Layouts">Servers</div>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/create" class="menu-link">
                                                <i class="menu-icon tf-icons bx bx-plus-medical"></i>
                                                <div data-i18n="Layouts">Create a Server</div>
                                            </a>
                                        </li>


                    <!-- Pages -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Pages</span>
                    </li>
                    <li class="menu-item">
                        <a href="/gift" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-gift"></i>
                            <div data-i18n="Layouts">Gift</div>
                        </a>
                    </li>
                    <% if (settings.status.enabled==true) { %>
                        <li class="menu-item">
                            <a href="/status" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-stats"></i>
                                <div data-i18n="Layouts">Status</div>
                            </a>
                        </li>                    <% } %>
                    <li class="menu-item">
                      <a href="/redeem" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-book-reader"></i>
                        <div data-i18n="Layouts">Redeem</div>
                      </a>
                  </li>
                    <li class="menu-item">
                      <a href="/j4r" class="menu-link">
                          <i class="menu-icon tf-icons bx bx-diamond"></i>
                          <div data-i18n="Layouts">Join for Reward</div>
                      </a>
                  </li>
                  <li class="menu-item">
                    <a href="/lv" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-link-external"></i>
                      <div data-i18n="Layouts">Linkvertise Earning</div>
                    </a>
                </li>
               <!-- Pages End -->
               <!-- Store -->
               <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Store</span>
            </li>
            <li class="menu-item">
                <a href="/store" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-store"></i>
                    <div data-i18n="Layouts">Store</div>
                </a>
            </li>
            <li class="menu-item">
              <a href="/buy" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cart"></i>
                <div data-i18n="Layouts">Buy Coins</div>
              </a>
          </li>
               <!-- Store End-->
                </ul>
            </aside>
                                <div class="layout-page">
                                    <!-- Navbar -->

                                    <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                                        id="layout-navbar">
                                        <div
                                            class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                                            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                                <i class="bx bx-menu bx-sm"></i>
                                            </a>
                                        </div>

                                        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                                            <!-- Search -->
                                            <div class="navbar-nav align-items-center">
                                                <% if (settings.api.client.coins.enabled==true) { %>
                                                    <button type="button" class="btn bg-label-secondary">
                                                        <span>Your coins:</span>
                                                        <span class="badge bg-label-dark">
                                                            <%= coins %>
                                                        </span>
                                                    <% } %>
                                            </div>
                                            <!-- /Search -->

                                            <ul class="navbar-nav flex-row align-items-center ms-auto">
                                                <!-- Place this tag where you want the button to render. -->
                                                <!-- User -->
                                                <div class="nav-item lh-1 me-3">
                                                    <a href="<%= settings.pterodactyl.domain %>"
                                                        class="btn btn-sm btn-neutral">Panel</a>
                                                    <a href="/servers/new" class="btn btn-sm btn-neutral">New Server</a>
                                                </div>
                                                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                                    <a class="nav-link dropdown-toggle hide-arrow"
                                                        href="javascript:void(0);" data-bs-toggle="dropdown">
                                                        <div class="avatar avatar-online">
                                                            <img alt="Avatar"
                                                                   src="/assets/img/illustrations/pb.png">
                                                        </div>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                                <div class="d-flex">
                                                                    <div class="flex-shrink-0 me-3">
                                                                        <div class="avatar avatar-online">
                                                                            <img
                                                                                src="https://cdn.discordapp.com/avatars/<%= req.session.userinfo.id%>/<%= req.session.userinfo.avatar%>.jpg?size=1024 alt" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-grow-1">
                                                                        <span class="fw-semibold d-block">
                                                                            <%= req.session.userinfo.username%>#<%=
                                                                                    req.session.userinfo.discriminator
                                                                                    %>
                                                                        </span>
                                                                        <small class="text-muted">ID: <%=
                                                                                req.session.userinfo.id%></small>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="/logout">
                                                                <i class="bx bx-power-off me-2"></i>
                                                                <span class="align-middle">Log Out</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                    <!-- Content wrapper -->
                                    <div class="content-wrapper">
                                        <!-- Content -->

                                        <div class="container-xxl flex-grow-1 container-p-y">
                                            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Server /</span> Your Servers</h4>
                                            <div class="row">
                                                <% let ram=0; let disk=0; let cpu=0; let
                                                    servers=pterodactyl.relationships.servers.data.length; for (let i=0,
                                                    len=pterodactyl.relationships.servers.data.length; i < len; i++) {
                                                    ram=ram + (typeof
                                                    pterodactyl.relationships.servers.data[i].attributes.limits.memory=="number"
                                                    ? pterodactyl.relationships.servers.data[i].attributes.limits.memory
                                                    : 0); disk=disk + (typeof
                                                    pterodactyl.relationships.servers.data[i].attributes.limits.disk=="number"
                                                    ? pterodactyl.relationships.servers.data[i].attributes.limits.disk :
                                                    0); cpu=cpu + (typeof
                                                    pterodactyl.relationships.servers.data[i].attributes.limits.cpu=="number"
                                                    ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu :
                                                    0); } %>
                                                    <!-- Total Revenue -->
                                                    <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                                                        <div class="card">
                                                            <div class="row row-bordered g-0">
                                                                <table class="table align-items-center table-flush">
                                                                    <thead class="table">
                                                                        <tr>
                                                                            <th scope="col">Name</th>
                                                                            <th scope="col">Memory</th>
                                                                            <th scope="col">Disk</th>
                                                                            <th scope="col">CPU</th>
                                                                            <th scope="col">Edit</th>
                                                                            <th scope="col">Delete</th>
                                                                            <th scope="col">Renew</th>
                                                                            <% if
                                                                                (settings.api.client.allow.renewsuspendsystem.enabled)
                                                                                { %>
                                                                                <% } %>
                                                                        </tr>
                                                                    </thead>
                                                                    <% for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) { %>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <%= pterodactyl.relationships.servers.data[i].attributes.name.length > 15 ? pterodactyl.relationships.servers.data[i].attributes.name.slice(0, 12) + "..." : pterodactyl.relationships.servers.data[i].attributes.name %>
                                                                            </td>
                                                                            <td>
                                                                                <%= pterodactyl.relationships.servers.data[i].attributes.limits.memory %>MB
                                                                            </td>
                                                                            <td>
                                                                                <%= pterodactyl.relationships.servers.data[i].attributes.limits.disk %>MB
                                                                            </td>
                                                                            <td>
                                                                                <%= pterodactyl.relationships.servers.data[i].attributes.limits.cpu %>%
                                                                            </td>
                                                                            <td>
                                                                                <a href="/servers/edit?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">
                                                                                    <button class="btn btn-icon btn-primary" type="button">
                                                                                        <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
                                                                                    </button>
                                                                                </a>
                                                                            </td>
                                                                            <td>
                                                                                <a href="/delete?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">
                                                                                    <button class="btn btn-icon btn-danger" type="button">
                                                                                        <span class="btn-inner--icon"><i class="fas fa-trash"></i></span>
                                                                                    </button>
                                                                                </a>
                                                                            </td>
                                                                            <% if (settings.api.client.allow.renewsuspendsystem.enabled) { %>
                                                                            <td>
                                                                                <a href="/renew?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">
                                                                                    <button class="btn btn-icon btn-warning" type="button">
                                                                                        <span class="btn-inner--icon"><i class="fas fa-sync-alt"></i></span>
                                                                                    </button>
                                                                                </a>
                                                                            </td>
                                                                              
                                                                            <% } %>
                                                                              <td>
                                                                              <a href="<%= settings.pterodactyl.domain %>/server/<%= pterodactyl.relationships.servers.data[i].attributes.identifier %>" target="_blank" rel="noopener noreferrer" class="btn btn-success"><i class="fas fa-link"></i></a>
                                                                                </td>
                                                                        </tr>
                                                                    </tbody>
                                                                    <% } %>
                                                                </table>
                                                                <div class="col-md-4">
                                                                    <div class="card-body">
                                                                    </div>
                                                                    <div id="growthChart"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <!-- / Content -->

                                        <!-- Footer -->
                                        <footer class="content-footer footer bg-footer-theme">
                                            <div
                                                class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                                                <div class="mb-2 mb-md-0">
                                                    ©
                                                    <script>
                                                        document.write(new Date().getFullYear());
                                                    </script>
                                                    , made with ❤️ by
                                                    <a href="https://discord.com/users/580022368924336128"
                                                        target="_blank" class="footer-link fw-bolder">Jonas.#9915</a>
                                                </div>
                                                <div>
                                                    <a href="https://github.com/NorthDevelopment/NorthClient/blob/main/LICENSE" class="footer-link me-4" target="_blank">License</a>
                                                    <a href="<%= settings.discordserver.invitelink %>" target="_blank"
                                                        class="footer-link me-4">Support</a>
                                                    <a href="/logout" class="btn btn-sm btn-outline-danger"><i
                                                            class="bx bx-log-out-circle"></i> Logout</a>
                                                </div>
                                            </div>
                                        </footer>
                                        <!-- / Footer -->
                                        <div class="content-backdrop fade"></div>
                                    </div>
                                    <!-- Content wrapper -->
                                </div>
                                <!-- / Layout page -->
                            </div>

                            <!-- Overlay -->
                            <div class="layout-overlay layout-menu-toggle"></div>
                        </div>

                    <body>

                        <%- include('./parts/mainnav') %>
                            <%- include('./parts/widgets') %>
                                <%- include('./parts/ads') %>
                                    <br></br>
                                    <!-- Page content -->
                                    <div class="container-fluid mt--6">
                                        <div class="row">



                                            <!-- Footer -->
                                        </div>
                                    </div>
                                    <%- include('./parts/footer') %>
                                        <script src="/assets/thmeneed/vendor/jquery/dist/jquery.min.js"></script>
                                        <script
                                            src="/assets/thmeneed/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                                        <script src="/assets/thmeneed/vendor/js-cookie/js.cookie.js"></script>
                                        <script
                                            src="/assets/thmeneed/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
                                        <script
                                            src="/assets/thmeneed/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
                                        <script src="/assets/thmeneed/vendor/chart.js/dist/Chart.min.js"></script>
                                        <script
                                            src="/assets/thmeneed/vendor/chart.js/dist/Chart.extension.js"></script>
                                        <script src="/assets/thmeneed/js/argon.js?v=1.2.0"></script>
                    </body>

                    </html>

                    <style>

                    </style>