<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Dashboard - <%= settings.name %>
    </title>

    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon"
        href="https://images-ext-1.discordapp.net/external/sMKkyuJo8Wn_AK_Foyl0aGrWwhe9fbqtPgkThvHxdxs/%3Fsize%3D1024/https/cdn.discordapp.com/icons/933803406513012807/bb763a3db98f9f0ae8d6029e8355dd06.png"
        type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="/assets/thmeneed/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/assets/thmeneed/vendor/@fortawesome/fontawesome-free/css/all.min.css"
        type="text/css">
    <link rel="stylesheet" href="/assets/css/argon.css?v=1.2.0" type="text/css">
    <script src="https://kit.fontawesome.com/b97ffc16ff.js" crossorigin="anonymous"></script>

    <html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
        data-assets-path="../assets/" data-template="vertical-menu-template-free">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="" />

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet" />

        <!-- Icons. Uncomment required icon fonts -->
        <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

        <!-- Core CSS -->
        <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
        <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
        <link rel="stylesheet" href="../assets/css/main.css" />

        <!-- Vendors CSS -->
        <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

        <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />

        <!-- Page CSS -->

        <!-- Helpers -->
        <script src="../assets/vendor/js/helpers.js"></script>

        <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
        <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
        <script src="../assets/js/config.js"></script>
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
                <!-- Menu -->

                <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                    <div class="app-brand demo">
                        <a href="/dashboard" class="app-brand-link">
                            <span class="app-brand-logo demo">
                                    <img width="25" viewBox="0 0 25 42" src="/assets/img/favicon/logor.png">
                            </span>
                            <span class="app-brand-text menu-text fw-bolder ms-2 " style="font-size:15pt">
                                <%= settings.name %>
                            </span>
                        </a>

                        <a href="javascript:void(0);"
                            class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                            <i class="bx bx-chevron-left bx-sm align-middle"></i>
                        </a>
                    </div>

                    <div class="menu-inner-shadow"></div>

                    <ul class="menu-inner py-1">
                        <!-- Dashboard -->
                        <ul class="menu-inner py-1">
                            <!-- Dashboard -->
                            <li class="menu-item">
                                <a href="/dashboard" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                                    <div data-i18n="Analytics">Dashboard</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/servers" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-server"></i>
                                    <div data-i18n="Layouts">Servers</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/create" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-plus-medical"></i>
                                    <div data-i18n="Layouts">Create a Server</div>
                                </a>
                            </li>
                    <!-- Pages -->
                    <li class="menu-header small text-uppercase">
                                <span class="menu-header-text">Pages</span>
                            </li>
                            <li class="menu-item">
                                <a href="/gift" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-gift"></i>
                                    <div data-i18n="Layouts">Gift</div>
                                </a>
                            </li>
                            <% if (settings.status.enabled==true) { %>
                            <li class="menu-item">
                                <a href="/status" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-stats"></i>
                                    <div data-i18n="Layouts">Status</div>
                                </a>
                            </li>                    <% } %>
                            <li class="menu-item">
                              <a href="/redeem" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-book-reader"></i>
                                <div data-i18n="Layouts">Redeem</div>
                              </a>
                          </li>
                            <li class="menu-item">
                              <a href="/j4r" class="menu-link">
                                  <i class="menu-icon tf-icons bx bx-diamond"></i>
                                  <div data-i18n="Layouts">Join for Reward</div>
                              </a>
                          </li>
                          <li class="menu-item">
                            <a href="/lv" class="menu-link">
                              <i class="menu-icon tf-icons bx bx-link-external"></i>
                              <div data-i18n="Layouts">Linkvertise Earning</div>
                            </a>
                        </li>
                       <!-- Pages End -->
                       <!-- Store -->
                       <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Store</span>
                    </li>
                    <li class="menu-item active">
                        <a href="/store" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-store"></i>
                            <div data-i18n="Layouts">Store</div>
                        </a>
                    </li>
                    <li class="menu-item">
                      <a href="/buy" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-cart"></i>
                        <div data-i18n="Layouts">Buy Coins</div>
                      </a>
                  </li>
                       <!-- Store End-->
                        </ul>
                    </aside>
                <div class="layout-page">
                    <!-- Navbar -->

                    <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                        id="layout-navbar">
                        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                <i class="bx bx-menu bx-sm"></i>
                            </a>
                        </div>

                        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                            <!-- Search -->
                            <div class="navbar-nav align-items-center">
                                <% if (settings.api.client.coins.enabled==true) { %>
                                    <button type="button" class="btn bg-label-dark">
                                        <span>Your coins:</span>
                                        <span class="badge bg-label-secondary">
                                            <%= coins %>
                                        </span>
                                    <% } %>
                            </div>
                            <!-- /Search -->

                            <ul class="navbar-nav flex-row align-items-center ms-auto">
                                <!-- Place this tag where you want the button to render. -->
                                <!-- User -->
                                <div class="nav-item lh-1 me-3">
                                    <a href="<%= settings.pterodactyl.domain %>"
                                        class="btn btn-sm btn-neutral">Panel</a>
                                    <a href="/servers/new" class="btn btn-sm btn-neutral">New Server</a>
                                </div>
                                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                        data-bs-toggle="dropdown">
                                        <div class="avatar avatar-online">
                                            <img alt="Avatar"
                                                   src="/assets/img/illustrations/pb.png">
                                        </div>
                                    </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-1">
                                                    <div class="avatar avatar-online">
                                                        <img src="/assets/img/illustrations/pb.png">
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">
                                                        <%= req.session.userinfo.username%>#<%=
                                                                req.session.userinfo.discriminator %>
                                                    </span>
                                                    <small class="text-muted">ID: <%= req.session.userinfo.id%></small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                      </li>
                                    <li>
                                        <a class="dropdown-item" href="/profile">
                                          <i class="bx bx-user me-2"></i>
                                          <span class="align-middle">My Profile</span>
                                        </a>
                                      </li>
                                      <% if (pterodactyl.root_admin==true) { %>
                                        <li>
                                            <a class="dropdown-item" href="/admin">
                                              <i class="bx bx-shield-quarter"></i>
                                              <span class="align-middle">Admin</span>
                                            </a>
                                          </li>
                                        <% } %>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                          </li>
                                    <li>
                                        <a class="dropdown-item" href="/logout">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Content wrapper -->
                    <div class="content-wrapper">
                        <!-- Content -->
  <body>
     <%- include('./parts/ads') %>
             <%- include('./parts/widgets') %>
       <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Store /</span> Store</h4>

                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="/buyram">
                                <div class="form-group">
                                    <label for="buyram">RAM</label>
                                    <select class="form-control" name="amount">
                                        <option value=1><%= settings.api.client.coins.store.ram.per %>MB RAM -
                                            <%= settings.api.client.coins.store.ram.cost %>
                                            coin<%= settings.api.client.coins.store.ram.cost == 1 ? "" : "s" %></option>
                                        <option value=2><%= settings.api.client.coins.store.ram.per * 2 %>MB RAM -
                                            <%= settings.api.client.coins.store.ram.cost * 2 %> coins</option>
                                        <option value=3><%= settings.api.client.coins.store.ram.per * 3 %>MB RAM -
                                            <%= settings.api.client.coins.store.ram.cost * 3 %> coins</option>
                                        <option value=4><%= settings.api.client.coins.store.ram.per * 4 %>MB RAM -
                                            <%= settings.api.client.coins.store.ram.cost * 4 %> coins</option>
                                        <option value=5><%= settings.api.client.coins.store.ram.per * 5 %>MB RAM -
                                            <%= settings.api.client.coins.store.ram.cost * 5 %> coins</option>
                                        <option value=6><%= settings.api.client.coins.store.ram.per * 6 %>MB RAM -
                                            <%= settings.api.client.coins.store.ram.cost * 6 %> coins</option>
                                        <option value=7><%= settings.api.client.coins.store.ram.per * 7 %>MB RAM -
                                            <%= settings.api.client.coins.store.ram.cost * 7 %> coins</option>
                                        <option value=8><%= settings.api.client.coins.store.ram.per * 8 %>MB RAM -
                                            <%= settings.api.client.coins.store.ram.cost * 8 %> coins</option>
                                        <option value=9><%= settings.api.client.coins.store.ram.per * 9 %>MB RAM -
                                            <%= settings.api.client.coins.store.ram.cost * 9 %> coins</option>
                                        <option value=10><%= settings.api.client.coins.store.ram.per * 10 %>MB RAM -
                                            <%= settings.api.client.coins.store.ram.cost * 10 %> coins</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-primary">Buy</button>
                            </form>
                            <br>
                            <form action="/buydisk">
                                <div class="form-group">
                                    <label for="buydisk">Disk</label>
                                    <select class="form-control" name="amount">
                                        <option value=1><%= settings.api.client.coins.store.disk.per %>MB Disk -
                                            <%= settings.api.client.coins.store.disk.cost %>
                                            coin<%= settings.api.client.coins.store.disk.cost == 1 ? "" : "s" %>
                                        </option>
                                        <option value=2><%= settings.api.client.coins.store.disk.per * 2 %>MB Disk -
                                            <%= settings.api.client.coins.store.disk.cost * 2 %> coins</option>
                                        <option value=3><%= settings.api.client.coins.store.disk.per * 3 %>MB Disk -
                                            <%= settings.api.client.coins.store.disk.cost * 3 %> coins</option>
                                        <option value=4><%= settings.api.client.coins.store.disk.per * 4 %>MB Disk -
                                            <%= settings.api.client.coins.store.disk.cost * 4 %> coins</option>
                                        <option value=5><%= settings.api.client.coins.store.disk.per * 5 %>MB Disk -
                                            <%= settings.api.client.coins.store.disk.cost * 5 %> coins</option>
                                        <option value=6><%= settings.api.client.coins.store.disk.per * 6 %>MB Disk -
                                            <%= settings.api.client.coins.store.disk.cost * 6 %> coins</option>
                                        <option value=7><%= settings.api.client.coins.store.disk.per * 7 %>MB Disk -
                                            <%= settings.api.client.coins.store.disk.cost * 7 %> coins</option>
                                        <option value=8><%= settings.api.client.coins.store.disk.per * 8 %>MB Disk -
                                            <%= settings.api.client.coins.store.disk.cost * 8 %> coins</option>
                                        <option value=9><%= settings.api.client.coins.store.disk.per * 9 %>MB Disk -
                                            <%= settings.api.client.coins.store.disk.cost * 9 %> coins</option>
                                        <option value=10><%= settings.api.client.coins.store.disk.per * 10 %>MB Disk -
                                            <%= settings.api.client.coins.store.disk.cost * 10 %> coins</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-primary">Buy</button>
                            </form>
                            <br>
                            <form action="/buycpu">
                                <div class="form-group">
                                    <label for="buycpu">CPU</label>
                                    <select class="form-control" name="amount">
                                        <option value=1><%= settings.api.client.coins.store.cpu.per %>% CPU -
                                            <%= settings.api.client.coins.store.cpu.cost %>
                                            coin<%= settings.api.client.coins.store.cpu.cost == 1 ? "" : "s" %></option>
                                        <option value=2><%= settings.api.client.coins.store.cpu.per * 2 %>% CPU -
                                            <%= settings.api.client.coins.store.cpu.cost * 2 %> coins</option>
                                        <option value=3><%= settings.api.client.coins.store.cpu.per * 3 %>% CPU -
                                            <%= settings.api.client.coins.store.cpu.cost * 3 %> coins</option>
                                        <option value=4><%= settings.api.client.coins.store.cpu.per * 4 %>% CPU -
                                            <%= settings.api.client.coins.store.cpu.cost * 4 %> coins</option>
                                        <option value=5><%= settings.api.client.coins.store.cpu.per * 5 %>% CPU -
                                            <%= settings.api.client.coins.store.cpu.cost * 5 %> coins</option>
                                        <option value=6><%= settings.api.client.coins.store.cpu.per * 6 %>% CPU -
                                            <%= settings.api.client.coins.store.cpu.cost * 6 %> coins</option>
                                        <option value=7><%= settings.api.client.coins.store.cpu.per * 7 %>% CPU -
                                            <%= settings.api.client.coins.store.cpu.cost * 7 %> coins</option>
                                        <option value=8><%= settings.api.client.coins.store.cpu.per * 8 %>% CPU -
                                            <%= settings.api.client.coins.store.cpu.cost * 8 %> coins</option>
                                        <option value=9><%= settings.api.client.coins.store.cpu.per * 9 %>% CPU -
                                            <%= settings.api.client.coins.store.cpu.cost * 9 %> coins</option>
                                        <option value=10><%= settings.api.client.coins.store.cpu.per * 10 %>% CPU -
                                            <%= settings.api.client.coins.store.cpu.cost * 10 %> coins</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-primary">Buy</button>
                            </form>
                            <br>
                            <form action="/buyservers">
                                <div class="form-group">
                                    <label for="buyservers">Servers</label>
                                    <select class="form-control" name="amount">
                                        <option value=1><%= settings.api.client.coins.store.servers.per %> server -
                                            <%= settings.api.client.coins.store.servers.cost %>
                                            coin<%= settings.api.client.coins.store.servers.cost == 1 ? "" : "s" %>
                                        </option>
                                        <option value=2><%= settings.api.client.coins.store.servers.per * 2 %> servers -
                                            <%= settings.api.client.coins.store.servers.cost * 2 %> coins</option>
                                        <option value=3><%= settings.api.client.coins.store.servers.per * 3 %> servers -
                                            <%= settings.api.client.coins.store.servers.cost * 3 %> coins</option>
                                        <option value=4><%= settings.api.client.coins.store.servers.per * 4 %> servers -
                                            <%= settings.api.client.coins.store.servers.cost * 4 %> coins</option>
                                        <option value=5><%= settings.api.client.coins.store.servers.per * 5 %> servers -
                                            <%= settings.api.client.coins.store.servers.cost * 5 %> coins</option>
                                        <option value=6><%= settings.api.client.coins.store.servers.per * 6 %> servers -
                                            <%= settings.api.client.coins.store.servers.cost * 6 %> coins</option>
                                        <option value=7><%= settings.api.client.coins.store.servers.per * 7 %> servers -
                                            <%= settings.api.client.coins.store.servers.cost * 7 %> coins</option>
                                        <option value=8><%= settings.api.client.coins.store.servers.per * 8 %> servers -
                                            <%= settings.api.client.coins.store.servers.cost * 8 %> coins</option>
                                        <option value=9><%= settings.api.client.coins.store.servers.per * 9 %> servers -
                                            <%= settings.api.client.coins.store.servers.cost * 9 %> coins</option>
                                        <option value=10><%= settings.api.client.coins.store.servers.per * 10 %> servers
                                            - <%= settings.api.client.coins.store.servers.cost * 10 %> coins</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-primary">Buy</button>
                            </form>
                        <br>
                            <form action="/buydatabases">
                                <div class="form-group">
                                    <label for="buydatabases">Databases</label>
                                    <select class="form-control" name="amount">
                                        <option value=1><%= settings.api.client.coins.store.databases.per %> database -
                                            <%= settings.api.client.coins.store.databases.cost %>
                                            coin<%= settings.api.client.coins.store.databases.cost == 1 ? "" : "s" %>
                                        </option>
                                        <option value=2><%= settings.api.client.coins.store.databases.per * 2 %> databases -
                                            <%= settings.api.client.coins.store.databases.cost * 2 %> coins</option>
                                        <option value=3><%= settings.api.client.coins.store.databases.per * 3 %> databases -
                                            <%= settings.api.client.coins.store.databases.cost * 3 %> coins</option>
                                        <option value=4><%= settings.api.client.coins.store.databases.per * 4 %> databases -
                                            <%= settings.api.client.coins.store.databases.cost * 4 %> coins</option>
                                        <option value=5><%= settings.api.client.coins.store.databases.per * 5 %> databases -
                                            <%= settings.api.client.coins.store.databases.cost * 5 %> coins</option>
                                        <option value=6><%= settings.api.client.coins.store.databases.per * 6 %> databases -
                                            <%= settings.api.client.coins.store.databases.cost * 6 %> coins</option>
                                        <option value=7><%= settings.api.client.coins.store.databases.per * 7 %> databases -
                                            <%= settings.api.client.coins.store.databases.cost * 7 %> coins</option>
                                        <option value=8><%= settings.api.client.coins.store.databases.per * 8 %> databases -
                                            <%= settings.api.client.coins.store.databases.cost * 8 %> coins</option>
                                        <option value=9><%= settings.api.client.coins.store.databases.per * 9 %> databases -
                                            <%= settings.api.client.coins.store.databases.cost * 9 %> coins</option>
                                        <option value=10><%= settings.api.client.coins.store.databases.per * 10 %> databases
                                            - <%= settings.api.client.coins.store.databases.cost * 10 %> coins</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-primary">Buy</button>
                            </form>
                        <br>
                            <form action="/buybackups">
                                <div class="form-group">
                                    <label for="buybackups">Backup Slots</label>
                                    <select class="form-control" name="amount">
                                        <option value=1><%= settings.api.client.coins.store.backups.per %> backup -
                                            <%= settings.api.client.coins.store.backups.cost %>
                                            coin<%= settings.api.client.coins.store.backups.cost == 1 ? "" : "s" %>
                                        </option>
                                        <option value=2><%= settings.api.client.coins.store.backups.per * 2 %> backups -
                                            <%= settings.api.client.coins.store.backups.cost * 2 %> coins</option>
                                        <option value=3><%= settings.api.client.coins.store.backups.per * 3 %> backups -
                                            <%= settings.api.client.coins.store.backups.cost * 3 %> coins</option>
                                        <option value=4><%= settings.api.client.coins.store.backups.per * 4 %> backups -
                                            <%= settings.api.client.coins.store.backups.cost * 4 %> coins</option>
                                        <option value=5><%= settings.api.client.coins.store.backups.per * 5 %> backups -
                                            <%= settings.api.client.coins.store.backups.cost * 5 %> coins</option>
                                        <option value=6><%= settings.api.client.coins.store.backups.per * 6 %> backups -
                                            <%= settings.api.client.coins.store.backups.cost * 6 %> coins</option>
                                        <option value=7><%= settings.api.client.coins.store.backups.per * 7 %> backups -
                                            <%= settings.api.client.coins.store.backups.cost * 7 %> coins</option>
                                        <option value=8><%= settings.api.client.coins.store.backups.per * 8 %> backups -
                                            <%= settings.api.client.coins.store.backups.cost * 8 %> coins</option>
                                        <option value=9><%= settings.api.client.coins.store.backups.per * 9 %> backups -
                                            <%= settings.api.client.coins.store.backups.cost * 9 %> coins</option>
                                        <option value=10><%= settings.api.client.coins.store.backups.per * 10 %> backups
                                            - <%= settings.api.client.coins.store.backups.cost * 10 %> coins</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-primary">Buy</button>
                            </form>
                        <br>
                            <form action="/buyallocations">
                                <div class="form-group">
                                    <label for="buyallocations">Ports</label>
                                    <select class="form-control" name="amount">
                                        <option value=1><%= settings.api.client.coins.store.ports.per %> port -
                                            <%= settings.api.client.coins.store.ports.cost %>
                                            coin<%= settings.api.client.coins.store.ports.cost == 1 ? "" : "s" %>
                                        </option>
                                        <option value=2><%= settings.api.client.coins.store.ports.per * 2 %> ports -
                                            <%= settings.api.client.coins.store.ports.cost * 2 %> coins</option>
                                        <option value=3><%= settings.api.client.coins.store.ports.per * 3 %> ports -
                                            <%= settings.api.client.coins.store.ports.cost * 3 %> coins</option>
                                        <option value=4><%= settings.api.client.coins.store.ports.per * 4 %> ports -
                                            <%= settings.api.client.coins.store.ports.cost * 4 %> coins</option>
                                        <option value=5><%= settings.api.client.coins.store.ports.per * 5 %> ports -
                                            <%= settings.api.client.coins.store.ports.cost * 5 %> coins</option>
                                        <option value=6><%= settings.api.client.coins.store.ports.per * 6 %> ports -
                                            <%= settings.api.client.coins.store.ports.cost * 6 %> coins</option>
                                        <option value=7><%= settings.api.client.coins.store.ports.per * 7 %> ports -
                                            <%= settings.api.client.coins.store.ports.cost * 7 %> coins</option>
                                        <option value=8><%= settings.api.client.coins.store.ports.per * 8 %> ports -
                                            <%= settings.api.client.coins.store.ports.cost * 8 %> coins</option>
                                        <option value=9><%= settings.api.client.coins.store.ports.per * 9 %> ports -
                                            <%= settings.api.client.coins.store.ports.cost * 9 %> coins</option>
                                        <option value=10><%= settings.api.client.coins.store.ports.per * 10 %> ports
                                            - <%= settings.api.client.coins.store.ports.cost * 10 %> coins</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-primary">Buy</button>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
                <div
                    class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                    <div class="mb-2 mb-md-0">
                        ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        , made with ❤️ by
                        <a href="https://discord.com/users/580022368924336128" target="_blank"
                            class="footer-link fw-bolder">Jonas.#9915</a>
                    </div>
                    <div>
                        <a href="https://github.com/NorthDevelopment/NorthClient/blob/main/LICENSE" class="footer-link me-4" target="_blank">License</a>
                        <a href="<%= settings.discordserver.invitelink %>" target="_blank"
                            class="footer-link me-4">Support</a>
                        <a href="/logout" class="btn btn-sm btn-outline-danger"><i
                                class="bx bx-log-out-circle"></i> Logout</a>
                    </div>
                </div>
            </footer>        </div>    </div>        </div>
    </div>
    <script src="/assets/thmeneed/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/thmeneed/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/thmeneed/vendor/js-cookie/js.cookie.js"></script>
    <script src="/assets/thmeneed/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="/assets/thmeneed/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <script src="/assets/thmeneed/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/assets/thmeneed/vendor/chart.js/dist/Chart.extension.js"></script>
    <script src="/assets/thmeneed/js/argon.js?v=1.2.0"></script>
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../assets/vendor/js/menu.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/pages-account-settings-account.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html