<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Dashboard - <%= settings.name %>
    </title>
    <% if (settings.api.arcio.enabled==true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon"
        href="https://images-ext-1.discordapp.net/external/sMKkyuJo8Wn_AK_Foyl0aGrWwhe9fbqtPgkThvHxdxs/%3Fsize%3D1024/https/cdn.discordapp.com/icons/933803406513012807/bb763a3db98f9f0ae8d6029e8355dd06.png"
        type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="/assets/thmeneed/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/assets/thmeneed/vendor/@fortawesome/fontawesome-free/css/all.min.css"
        type="text/css">
    <link rel="stylesheet" href="/assets/thmeneed/css/argon.css?v=1.2.0" type="text/css">
    <script src="https://kit.fontawesome.com/b97ffc16ff.js" crossorigin="anonymous"></script>

    <html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
        data-assets-path="../assets/" data-template="vertical-menu-template-free">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="" />

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet" />

        <!-- Icons. Uncomment required icon fonts -->
        <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

        <!-- Core CSS -->
        <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
        <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
        <link rel="stylesheet" href="../assets/css/demo.css" />

        <!-- Vendors CSS -->
        <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

        <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />

        <!-- Page CSS -->
        <link rel="stylesheet" href="assets/vendor/libs/animate-css/animate.css" />
        <link rel="stylesheet" href="assets/vendor/libs/toastr/toastr.css" />
        <link rel="stylesheet" href="assets/vendor/libs/toastr/toastr.js" />

        <!-- Helpers -->
        <script src="../assets/vendor/js/helpers.js"></script>

        <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
        <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
        <script src="../assets/js/config.js"></script>
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
                <!-- Menu -->

                <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                    <div class="app-brand demo">
                        <a href="/dashboard" class="app-brand-link">
                            <span class="app-brand-logo demo">
                                    <img width="25" viewBox="0 0 25 42" src="/assets/img/favicon/logor.png">
                            </span>
                            <span class="app-brand-text demo menu-text fw-bolder ms-2">
                                <%= settings.name %>
                            </span>
                        </a>

                        <a href="javascript:void(0);"
                            class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                            <i class="bx bx-chevron-left bx-sm align-middle"></i>
                        </a>
                    </div>

                    <div class="menu-inner-shadow"></div>

                    <ul class="menu-inner py-1">
                        <!-- Dashboard -->
                        <ul class="menu-inner py-1">
                            <!-- Dashboard -->
                            <li class="menu-item active">
                                <a href="/dashboard" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                                    <div data-i18n="Analytics">Dashboard</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/servers" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-server"></i>
                                    <div data-i18n="Layouts">Servers</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/create" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-plus-medical"></i>
                                    <div data-i18n="Layouts">Create a Server</div>
                                </a>
                            </li>
                            <!-- Pages -->
                            <li class="menu-header small text-uppercase">
                                <span class="menu-header-text">Pages</span>
                            </li>
                            <li class="menu-item">
                                <a href="/gift" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-gift"></i>
                                    <div data-i18n="Layouts">Gift</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/redeem" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-book-reader"></i>
                                    <div data-i18n="Layouts">Redeem</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/j4r" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-diamond"></i>
                                    <div data-i18n="Layouts">Join for Reward</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/lv" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-link-external"></i>
                                    <div data-i18n="Layouts">Linkvertise Earning</div>
                                </a>
                            </li>
                            <!-- Pages End -->
                            <!-- Store -->
                            <li class="menu-header small text-uppercase">
                                <span class="menu-header-text">Store</span>
                            </li>
                            <li class="menu-item">
                                <a href="/store" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-store"></i>
                                    <div data-i18n="Layouts">Store</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/buy" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-cart"></i>
                                    <div data-i18n="Layouts">Buy Coins</div>
                                </a>
                            </li>
                            <!-- Store End-->
                            <!--Admin-->
                            <% if (pterodactyl.root_admin == true) { %>
                            <li class="menu-header small text-uppercase">
                                <span class="menu-header-text">Admin</span>
                            </li>
                            <li class="menu-item">
                                <a href="/admin" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-shield-quarter"></i>
                                    <div data-i18n="Layouts">Admin</div>
                                </a> 
                            </li>
                            <!--Admin End-->
                        </ul><% } %>
                </aside>
                <div class="layout-page">
                    <!-- Navbar -->

                    <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                        id="layout-navbar">
                        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                <i class="bx bx-menu bx-sm"></i>
                            </a>
                        </div>

                        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                            <!-- Search -->
                            <div class="navbar-nav align-items-center">
                                <% if (settings.api.client.coins.enabled==true) { %>
                                <button type="button" class="btn btn-default">
                                    <span>Your coins</span>
                                    <span class="badge badge-primary">
                                        <%= coins %>
                                    </span>
                                </button>
                                <% } %>
                            </div>
                            <!-- /Search -->

                            <ul class="navbar-nav flex-row align-items-center ms-auto">
                                <!-- Place this tag where you want the button to render. -->
                                <!-- User -->
                                <div class="nav-item lh-1 me-3">
                                    <a href="<%= settings.pterodactyl.domain %>"
                                        class="btn btn-sm btn-neutral">Panel</a>
                                    <a href="/servers/new" class="btn btn-sm btn-neutral">New Server</a>
                                </div>
                                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                        data-bs-toggle="dropdown">
                                        <div class="avatar avatar-online">
                                            <img alt="Avatar"
                                                src="https://cdn.discordapp.com/avatars/<%= req.session.userinfo.id%>/<%= req.session.userinfo.avatar%>.jpg?size=1024">
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar avatar-online">
                                                            <img
                                                                src="https://cdn.discordapp.com/avatars/<%= req.session.userinfo.id%>/<%= req.session.userinfo.avatar%>.jpg?size=1024 alt" />
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <span class="fw-semibold d-block">
                                                            <%= req.session.userinfo.username%>#<%=
                                                                            req.session.userinfo.discriminator %>
                                                        </span>
                                                        <small class="text-muted">ID: <%=
                                                                        req.session.userinfo.id%></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/logout">
                                                <i class="bx bx-power-off me-2"></i>
                                                <span class="align-middle">Log Out</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Content wrapper -->

                    <div class="content-wrapper">
                        <!-- Content -->
                        <div class="container-xxl flex-grow-1 container-p-y">
                            <% if (req.session.newaccount || req.session.password) { %>
                            <% if (req.session.newaccount) { %>
                            <div class="alert alert-default alert-dismissible fade show" role="alert">
                                <span class="alert-icon"><i class="fas fa-plus-circle"></i></span>
                                <span class="alert-text"><strong>Congratulations!</strong> A new account has been created for
                                    you on the Pterodactyl Panel</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <% } %>
                            <% if (req.session.password) { %>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                <span class="alert-text"><strong><%= req.session.password %></strong> is the password to your
                                    pterodactyl account.</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <% } %>
                            <% } %>
                            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home / </span>Client Area
                            </h4>
                            <div class="row">
                                <div class="col-lg-8 mb-4 order-0">
                                    <div class="card">
                                        <div class="d-flex align-items-end row">
                                            <div class="col-sm-7">
                                                <div class="card-body">
                                                    <h5 class="card-title text-primary">Congratulations <%=
                                                                    req.session.userinfo.username%>#<%=
                                                                        req.session.userinfo.discriminator %>! ðŸŽ‰</h5>
                                                    <p class="mb-4">
                                                        You have successfully logged in to your profile.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 text-center text-sm-left">
                                                <div class="card-body pb-0 px-0 px-md-4">
                                                    <img src="../assets/img/illustrations/man-with-laptop-light.png"
                                                        height="140" alt="View Badge User"
                                                        data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                                        data-app-light-img="illustrations/man-with-laptop-light.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% let ram=0; let disk=0; let cpu=0; let
                                            servers=pterodactyl.relationships.servers.data.length; for (let i=0,
                                            len=pterodactyl.relationships.servers.data.length; i < len; i++) { ram=ram +
                                            (typeof
                                            pterodactyl.relationships.servers.data[i].attributes.limits.memory=="number"
                                            ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0);
                                            disk=disk + (typeof
                                            pterodactyl.relationships.servers.data[i].attributes.limits.disk=="number" ?
                                            pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0);
                                            cpu=cpu + (typeof
                                            pterodactyl.relationships.servers.data[i].attributes.limits.cpu=="number" ?
                                            pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0); } %>
                                <div class="col-lg-4 col-md-4 order-1">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-6 mb-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div
                                                        class="card-title d-flex align-items-start justify-content-between">
                                                        <div
                                                            class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                                            <i class="fas fa-hdd"></i>
                                                        </div>
                                                    </div>
                                                    <span class="fw-semibold d-block mb-1">Disk</span>
                                                    <h3 class="card-title mb-2">
                                                        <%= disk %>MB /
                                                        <%= (packages ? packages.disk : 0) +
                                                                            extraresources.disk %>
                                                        MB
                                                    </h3>

                                                    <small class="text-success fw-semibold"><i
                                                            class="bx bx-up-arrow-alt"></i>Fetched from
                                                        API</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-6 mb-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div
                                                        class="card-title d-flex align-items-start justify-content-between">
                                                        <div
                                                            class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                                            <i class="fas fa-memory"></i>
                                                        </div>
                                                    </div>
                                                    <span>Memory</span>
                                                    <h3 class="card-title text-nowrap mb-1">
                                                        <%= ram %>MB /<br />
                                                        <%= (packages ? packages.ram : 0) +
                                                                            extraresources.ram %>MB
                                                    </h3>
                                                    <small class="text-success fw-semibold"><i
                                                            class="bx bx-up-arrow-alt"></i>Fetched from
                                                        API</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Total Revenue -->
                                <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                                    <div class="card">
                                        <div class="row row-bordered g-0">
                                            <table class="table align-items-center table-flush">
                                                <thead class="table">
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Memory</th>
                                                        <th scope="col">Disk</th>
                                                        <th scope="col">CPU</th>
                                                        <th scope="col">Manage</th>
                                                    </tr>
                                                </thead>
                                                <% for (let i=0,
                                                                len=pterodactyl.relationships.servers.data.length; i <
                                                                len; i++) { %>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <%=
                                                                                pterodactyl.relationships.servers.data[i].attributes.name.length>
                                                                                15 ?
                                                                                pterodactyl.relationships.servers.data[i].attributes.name.slice(0,
                                                                                12) + "..." :
                                                                                pterodactyl.relationships.servers.data[i].attributes.name
                                                                                %>
                                                        </td>
                                                        <td>
                                                            <%= pterodactyl.relationships.servers.data[i].attributes.limits.memory
                                                                                %>MB
                                                        </td>
                                                        <td>
                                                            <%= pterodactyl.relationships.servers.data[i].attributes.limits.disk
                                                                                %>MB
                                                        </td>
                                                        <td>
                                                            <%= pterodactyl.relationships.servers.data[i].attributes.limits.cpu
                                                                                %>%
                                                        </td>
                                                        <td>
                                                            <a
                                                                href="/servers/edit?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">

                                                                <button class="btn btn-icon btn-primary" type="button">
                                                                    <span class="btn-inner--icon"><i
                                                                            class="fas fa-edit"></i></span>
                                                                </button>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="<%= settings.pterodactyl.domain %>/server/<%= pterodactyl.relationships.servers.data[i].attributes.identifier %>"
                                                                target="_blank" rel="noopener noreferrer"
                                                                class="btn btn-success"><i class="fas fa-link"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <% } %>
                                            </table>
                                            <div class="col-md-4">
                                                <div class="card-body">
                                                </div>
                                                <div id="growthChart"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ Total Revenue -->
                                <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                                    <div class="row">
                                        <div class="col-6 mb-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div
                                                        class="card-title d-flex align-items-start justify-content-between">
                                                        <div
                                                            class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                                            <i class="fas fa-microchip"></i>
                                                        </div>
                                                    </div>
                                                    <span class="d-block mb-1">CPU</span>
                                                    <h3 class="card-title text-nowrap mb-2">
                                                        <%= cpu %>% /
                                                        <%= (packages ? packages.cpu : 0) +
                                                                            extraresources.cpu %>%
                                                    </h3>
                                                    <small class="text-success fw-semibold"><i
                                                            class="bx bx-up-arrow-alt"></i>Fetched from
                                                        API</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 mb-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div
                                                        class="card-title d-flex align-items-start justify-content-between">
                                                        <div
                                                            class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                                            <i class="fas fa-server"></i>
                                                        </div>
                                                    </div>
                                                    <span class="fw-semibold d-block mb-1">Servers</span>
                                                    <h3 class="card-title mb-2">
                                                        <%= servers %> /
                                                        <%= (packages ? packages.servers : 0) +
                                                                            extraresources.servers %>
                                                        server<%= (packages ? packages.servers : 0)
                                                                                + extraresources.servers==1 ? "" : "s"
                                                                                %>
                                                    </h3>
                                                    <small class="text-success fw-semibold"><i
                                                            class="bx bx-up-arrow-alt"></i>Fetched from
                                                        API</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Order Statistics -->
                                <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                                    <div class="card h-100">
                                        <div class="card-header d-flex align-items-center justify-content-between pb-0">
                                            <div class="card-title mb-0">
                                                <h2 class="m-0 me-2">Newst Updates</h2>
                                                <small class="text-muted">v1.0.0</small>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center mb-3">
                                                <div id="orderStatisticsChart"></div>
                                            </div>
                                            <ul class="p-0 m-0">
                                                <li class="d-flex mb-4 pb-1">
                                                    <div class="avatar flex-shrink-0 me-3">
                                                        <span class="avatar-initial rounded bg-label-primary"><i
                                                                class="bx bxs-bell"></i></span>
                                                    </div>
                                                    <div
                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                        <div class="me-2">
                                                            <h6 class="mb-0">New Project</h6>
                                                            <small class="text-muted">The project has started on
                                                                20.07.2022 at 21:00.</small>
                                                            <small class="fw-semibold">sent 20.07.2022</small>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="d-flex mb-4 pb-1">
                                                    <div class="avatar flex-shrink-0 me-3">
                                                        <span class="avatar-initial rounded bg-label-primary"><i
                                                                class="bx bxs-bell"></i></span>
                                                    </div>
                                                    <div
                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                        <div class="me-2">
                                                            <h6 class="mb-0">New Design</h6>
                                                            <small class="text-muted">We went right to work on a
                                                                new design.</small>
                                                            <small class="fw-semibold">sent 20.07.2022</small>
                                                        </div>
                                                    </div>
                                                </li>
                                                <h5 class="card-title m-0 me-2">ToDo list</h5> <br />

                                                <li class="d-flex">
                                                    <div class="avatar flex-shrink-0 me-3">
                                                        <span class="avatar-initial rounded bg-label-primary"><i
                                                                class='bx bx-list-check'></i>
                                                    </div>
                                                    <div
                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                        <div class="me-2">
                                                            <div class="form-check form-switch">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="flexSwitchCheckCheckedDisabled" checked
                                                                    disabled />
                                                                <label class="form-check-label"
                                                                    for="flexSwitchCheckCheckedDisabled">Making
                                                                    a Community Dashbaord.</label>
                                                            </div>
                                                            <div class="form-check form-switch mb-2">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="flexSwitchCheckDisabled" disabled />
                                                                <label class="form-check-label"
                                                                    for="flexSwitchCheckDisabled">Working on the
                                                                    Theme.</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--/ Order Statistics -->

                                <!-- Expense Overview -->
                                <div class="col-md-6 col-lg-4 order-2 mb-4">
                                    <div class="card h-100">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h5 class="card-title m-0 me-2">Useful links</h5>
                                        </div>
                                        <div class="card-body">
                                            <ul class="p-0 m-0">
                                                <li class="d-flex">
                                                    <div class="avatar flex-shrink-0 me-3">
                                                        <span class="avatar-initial rounded bg-label-primary"><i
                                                                class="bx bxl-discord"></i></span>
                                                    </div>
                                                    <div
                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                        <div class="me-2">
                                                            <small class="text-muted d-block mb-1">Discord
                                                                Server:</small>
                                                            <h6 class="mb-0"> <input class="form-control" type="text"
                                                                    id="exampleFormControlReadOnlyInput1"
                                                                    placeholder="<%= settings.discordserver.invitelink %>"
                                                                    readonly />
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </li>
                                                <br />
                                                <li class="d-flex">
                                                    <div class="avatar flex-shrink-0 me-3">
                                                        <span class="avatar-initial rounded bg-label-primary"><i
                                                                class="bx bxl-discord"></i></span>
                                                    </div>
                                                    <div
                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                        <div class="me-2">
                                                            <small class="text-muted d-block mb-1">Dashboard
                                                                URL:</small>
                                                            <h6 class="mb-0"> <input class="form-control" type="text"
                                                                    id="exampleFormControlReadOnlyInput1"
                                                                    placeholder="<%= settings.pterodactyl.domain %>"
                                                                    readonly />
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </li> <br />
                                                <li class="d-flex">
                                                    <div class="avatar flex-shrink-0 me-3">
                                                        <span class="avatar-initial rounded bg-label-primary"><i
                                                                class='bx bx-reset'></i>
                                                    </div>
                                                    <div class="input-group">
                                                        <small class="text-muted d-block mb-1">Reset Password</small>
                                                        <a style="cursor:pointer;" data-toggle="modal"
                                                            data-target="#modal-notification">
                                                            <span class="btn btn-primary">Regenrate Password</span>
                                                        </a>
                                                        <div
                                                            class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                            <div class="modal fade" id="modal-notification"
                                                                tabindex="-1" role="dialog"
                                                                aria-labelledby="modal-notification" aria-hidden="true">
                                                                <div class="modal-dialog modal-danger modal-dialog-centered modal-"
                                                                    role="document">
                                                                    <div class="modal-content bs-toast toast fade show bg-warning">
                                                                        <div class="modal-header">
                                                                            <h6 class="modal-title"
                                                                                id="modal-title-notification">Your are about to Reset your Password!
                                                                            </h6>
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">Ã—</span>
                                                                            </button>
                                                                        </div>

                                                                        <div class="modal-body">

                                                                            <div class="py-3 text-center">
                                                                                <i class="ni ni-bell-55 ni-3x"></i>
                                                                                <h4 class="heading mt-4">Are you sure?
                                                                                </h4>
                                                                                <p>WARNING: Pressing "Okay, Reset
                                                                                    Password" will reset your panel
                                                                                    password and you will need
                                                                                    to login to the panel again. Only
                                                                                    reset your password if you really
                                                                                    need to reset it.
                                                                                </p>
                                                                            </div>

                                                                        </div>

                                                                        <div class="modal-footer">
                                                                            <a href="/regen"><button type="button"
                                                                                    class="btn btn-link text-white ml-auto">Okay, Reset
                                                                                    Password</button></a>
                                                                            <button type="button"
                                                                                class="btn btn-link text-white ml-auto"
                                                                                data-dismiss="modal">Go
                                                                                Back</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </li>
                                                </li>
                                        </div>
                                    </div>
                                </div>
                                <!--/ Expense Overview -->
                                <!-- Transactions -->
                                <div class="col-md-6 col-lg-4 order-2 mb-4">
                                    <div class="card h-100">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h5 class="card-title m-0 me-2">Information</h5>
                                            <div class="col text-right">
                                                <a href="/updateinfo" class="btn btn-sm btn-primary">Update
                                                    Info</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <ul class="p-0 m-0">
                                                <li class="d-flex">
                                                    <div class="avatar flex-shrink-0 me-3">
                                                        <span class="avatar-initial rounded bg-label-primary"><i
                                                                class="bx bxs-rename"></i></span>
                                                    </div>
                                                    <div
                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                        <div class="me-2">
                                                            <small class="text-muted d-block mb-1">Username:</small>
                                                            <h6 class="mb-0"><input class="form-control" type="text"
                                                                    id="exampleFormControlReadOnlyInput1"
                                                                    placeholder="<%= req.session.userinfo.username%>#<%= req.session.userinfo.discriminator %>"
                                                                    readonly></h6>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </li>
                                                <br />
                                                <li class="d-flex">
                                                    <div class="avatar flex-shrink-0 me-3">
                                                        <span class="avatar-initial rounded bg-label-primary"><i
                                                                class="bx bxs-error-circle"></i>
                                                    </div>
                                                    <div
                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                        <div class="me-2">
                                                            <small class="text-muted d-block mb-1">ID:</small>
                                                            <h6 class="mb-0"><input class="form-control" type="text"
                                                                    id="exampleFormControlReadOnlyInput1"
                                                                    placeholder="<%= req.session.userinfo.id%>"
                                                                    readonly></h6>
                                                        </div>
                                                    </div>
                                                </li>
                                                <br />
                                                <li class="d-flex">
                                                    <div class="avatar flex-shrink-0 me-3">
                                                        <span class="avatar-initial rounded bg-label-primary"><i
                                                                class="bx bxs-envelope"></i>
                                                    </div>
                                                    <div
                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                        <div class="me-2">
                                                            <small class="text-muted d-block mb-1">Email:</small>
                                                            <h6 class="mb-0"> <input class="form-control" type="text"
                                                                    id="exampleFormControlReadOnlyInput1"
                                                                    placeholder="<%= pterodactyl.email %>" readonly />
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--/ Transactions -->
                            </div>
                        </div>
                        <!-- / Content -->

                        <!-- Footer -->
                        <footer class="content-footer footer bg-footer-theme">
                            <div
                                class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                                <div class="mb-2 mb-md-0">
                                    Â©
                                    <script>
                                        document.write(new Date().getFullYear());
                                    </script>
                                    , made with â¤ï¸ by
                                    <a href="https://discord.com/users/580022368924336128" target="_blank"
                                        class="footer-link fw-bolder">Jonas.#9915</a>
                                </div>
                                <div>
                                    <a href="/404" class="footer-link me-4" target="_blank">License</a>
                                    <a href="<%= settings.discordserver.invitelink %>" target="_blank"
                                        class="footer-link me-4">Support</a>
                                    <a href="/logout" class="btn btn-sm btn-outline-danger"><i
                                            class="bx bx-log-out-circle"></i> Logout</a>
                                </div>
                            </div>
                        </footer>
                        <!-- / Footer -->
                        <div class="content-backdrop fade"></div>
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>

            <!-- Overlay -->
            <div class="layout-overlay layout-menu-toggle"></div>
        </div>

    <body>

        <%- include('./parts/mainnav') %>
        <%- include('./parts/widgets') %>
        <%- include('./parts/ads') %>
        <br></br>
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row">



                <!-- Footer -->
            </div>
        </div>
        <%- include('./parts/footer') %>
        <script src="/assets/thmeneed/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/assets/thmeneed/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/thmeneed/vendor/js-cookie/js.cookie.js"></script>
        <script src="/assets/thmeneed/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="/assets/thmeneed/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="/assets/thmeneed/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="/assets/thmeneed/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="/assets/thmeneed/js/argon.js?v=1.2.0"></script>
    </body>

    </html>

    <style>

    </style>
